<h3>Édition pizza</h3>

<form name="pizzaForm"
  ng-submit="$ctrl.savePizza(pizzaForm)"
  novalidate>

  <div class="form-group">

    <label for="name">Nom :</label>
    <input
      ng-model-options="{ updateOn : 'blur' }"
      ng-model="$ctrl.pizza.name"
      required
      name="name"
      type="text"
      class="form-control"
      id="name">
    <p class="text-danger" ng-if="pizzaForm.name.$invalid && pizzaForm.name.$touched">Nom obligatoire</p>

  </div>

  <div class="form-group">
    <pizza-toppings
      toppings="$ctrl.pizza.toppings"
      all-toppings="$ctrl.toppings"
      on-add-topping="$ctrl.addToppingDUPIZZACONTROLLER($event)"
      ></pizza-toppings>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a ng-href="#/" type="button" class="btn">Annuler</a>
  </div>

</form>
